@model IEnumerable<MVC2024.Models.VehiculoModelo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("MATRICULA")
            </th>
            <th>
                @Html.DisplayName("COLOR")
            </th>
            <th>
                @Html.DisplayName("MODELO")
            </th>
            <th>
                @Html.DisplayName("MARCA")
            </th>
            <th>
                @Html.DisplayName("EXTRAS")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.nomSerie)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serie.Marca.nomMarca)
                </td>
                <td>
                    @if (item.VehiculoExtras != null && item.VehiculoExtras.Any())
                    {
                        foreach (var extra in item.VehiculoExtras)
                        {
                            <p>@extra.Extra.NomExtra</p> <!-- Suponiendo que "Nombre" es la propiedad que quieres mostrar de cada extra -->
                        }
                    }
                    else
                    {
                        <p>No hay extras</p>
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
