@model IEnumerable<MVC2024.Controllers.VehiculoController.VehiculoTotal>
@{
    ViewData["Title"] = "listado de vehiculos";
}

<h1>listado2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("NOMMARCA")
            </th>
            <th>
                @Html.DisplayName("NOMSERIE")
            </th>
            <th>
                @Html.DisplayName("MATRICULA")
            </th>
            <th>
                @Html.DisplayName("COLOR")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>

        </tr>
}
    </tbody>
</table>
